@charset "utf-8";
/* CSS Document */
/* 不可用按钮 */
a.disabled, a.disabled span{background-image: url("../imgs/button/butt.png") !important;cursor:default;}
a.disabled span{color:#ccc !important;}
a.disabled:hover,a.disabled:active{background-position:right top !important;}
a.disabled:hover span, a.disabled:active span{background-position:left top !important;}

/*一般按钮*/
a.butt,a.butt1,a.butt2{background: url("../imgs/button/butt.png") no-repeat scroll right top transparent;display: inline-block;height:26px;overflow: hidden;padding:0 2px 0 0;margin:1px;margin-right:5px;}
a.butt span, a.butt1 span{background: url("../imgs/button/butt.png") no-repeat scroll left top transparent;display:inline-block;line-height: 26px;padding: 0 15px;color:#333;font-size:12px;}
a.butt2 span{background: url("../imgs/button/butt.png") no-repeat scroll left top transparent;display:inline-block;line-height: 26px;padding: 0 15px;color:#fff;font-size:12px;}

a.butt span::selection { background: transparent; color: #000; }
a.butt span::-moz-selection { background: transparent; color: #000; }

a.butt:hover, a.butt1:hover, a.butt2:hover{background-position:right -26px;}
a.butt:hover span, a.butt1:hover span, a.butt2:hover span{background-position:left -26px;}

a.butt:active,a.butt1:active,a.butt2:active{background-position:right -52px;}
a.butt:active span,a.butt1:active span,a.butt2:active span{background-position:left -52px;}

/*重要按钮*/
a.butt1, a.butt1 span{background-image: url("../imgs/button/butt1.png");}
a.butt1 span::selection { background: transparent; color: #007296; }
a.butt1 span::-moz-selection { background: transparent; color: #007296; }

a.butt1:hover{}
a.butt1:hover span{color:#007296;}

a.butt1:active{background-position:right -52px;}
a.butt1:active span{background-position:left -52px;color:#007296;}
/*蓝色按钮*/
a.butt2{background: url("../imgs/button/bluebutt2.png") no-repeat scroll right top transparent;}
a.butt2 span{background-image: url("../imgs/button/bluebutt.png");background-position:left top;}
a.butt2 span::selection { background: transparent; color: #007296; }
a.butt2 span::-moz-selection { background: transparent; color: #007296; }

a.butt2:hover{}
a.butt2:hover span{color:#fff;}

a.butt2:active{background-position:right -52px;}
a.butt2:active span{background-position:left -52px;color:#fff;}

/*搜索按钮*/
a span.searchButt{background:url("../imgs/button/search.png") no-repeat scroll center 5px transparent;}
a#search,a#search1,a#search2,a#search3,a#sale,a#search_supplier,a#search_cclient,a#search_report{margin-left:0;}
a:hover span.searchButt,a:active span.searchButt{background-position:center 5px;}

/*特殊按钮：依次——链接按钮，搜索按钮，更多按钮，同类按钮*/
a.linkButt{display: inline-block;overflow: hidden;color:#336699;margin-right:10px;}
a.linkButt span{display:block;line-height:28px;}
a.linkButt:hover{text-decoration: underline;color:#000093;}
.seLine{color: #336699;float:left;line-height:28px;font-size:18px;margin-right:8px;}

.butt.same,.butt1.same,.butt2.same{margin-right:-3px;}
.butt.same span,.butt1.same span,a.sm span,.butt2.same span{padding: 0 12px;}

/*特殊按钮手动选择快递按钮组合*/
a.butt span.moreKD{background: url("../imgs/button/searchBlock.png") no-repeat scroll 0 -16px transparent;width:13px;padding: 0;margin-left: -7px;line-height: 16px;}
.blockButt{position:relative;}
.moreButt{position:absolute;left:0;z-index: 100;visibility: hidden;}
.moreButt a.butt span{padding-left: 15px;padding-right:20px;}


/*高级搜索块*/
a.searchMore{background: url("../imgs/button/seachmore.png") no-repeat scroll 0 0 transparent;display:inline-block;padding:5px;position:absolute;right:12px;top:6px;*top:2px;z-index:2;}
a.searchMore span{height:16px;width:16px;margin-left:4px;display:inline-block;cursor:pointer;*margin-left:6px;}
.searchMore span.search{background: url("../imgs/button/searchBlock.png") no-repeat scroll 0 0 transparent;}
.searchMore span.more{background: url("../imgs/button/searchBlock.png") no-repeat scroll 0 -16px transparent;}

.searchMore span.search:hover{background-position: right 0;}
.searchMore span.more:hover{background-position: -16px -16px;}
a.searchMore:hover{text-decoration:none;}

/*折叠-下拉*/
/* #searchForm .toggleFormBg{background-image:none;padding:0;} 
//a.searchMore span.toggleFormButt{background:url("./imgs/theme/popupWindow/toggle.gif") no-repeat scroll 0 0 transparent;padding:0;width:29px;height:24px;}
*//*折叠-上拉*/
a.searchMore span.toggleonFormButt{background-position:left -30px;}
a.searchMore span.toggleonFormButt:hover{background-position: -16px -30px;}

/* 弹出框按钮 */
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button {margin-left:15px; padding: 5px 15px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 15px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #bababa; border-radius: 2px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e8e8e8'); background: linear-gradient(top, #F7F7F7, #E8E8E8); background: -moz-linear-gradient(top, #F7F7F7, #E8E8E8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#E8E8E8));}/* text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; */ 
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus { outline:none 0;}/*  border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9);  */
.aui_buttons button:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F0F0F0'); background: linear-gradient(top, #E8E8E8, #F0F0F0); background: -moz-linear-gradient(top, #E8E8E8, #F0F0F0); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#F0F0F0));box-shadow:inset 0 2px 10px rgba(255, 255, 255, .9);}
.aui_buttons button:active {box-shadow:inset 0 1px 5px rgba(184, 184, 184, .65), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight {padding:5px 15px;  color: #007296; border: solid 1px #6cb9d0; background: #d4ebf2; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eff8fb', endColorstr='#bee0eb'); background: linear-gradient(top, #eff8fb, #bee0eb); background: -moz-linear-gradient(top, #eff8fb, #bee0eb); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eff8fb), to(#bee0eb));}
button.aui_state_highlight:hover {background: #cfe9f0;}
button.aui_state_highlight:active {box-shadow:inset 0 1px 5px rgba(104, 183, 207, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }

/* input type=button按钮样式*/
input[type="button"]{padding: 5px 15px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 15px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #bababa; border-radius: 2px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e8e8e8'); background: linear-gradient(top, #F7F7F7, #E8E8E8); background: -moz-linear-gradient(top, #F7F7F7, #E8E8E8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#E8E8E8));}/* text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; */ 
input[type="button"]::-moz-focus-inner{ border:0; padding:0; margin:0; }
input[type="button"]:focus { outline:none 0;}/*  border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9);  */
input[type="button"]:hover { filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#F0F0F0'); background: linear-gradient(top, #E8E8E8, #F0F0F0); background: -moz-linear-gradient(top, #E8E8E8, #F0F0F0); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#F0F0F0));box-shadow:inset 0 2px 10px rgba(255, 255, 255, .9);}
input[type="button"]:active {box-shadow:inset 0 1px 5px rgba(184, 184, 184, .65), inset 0 1px 1em rgba(0, 0, 0, .3); }
input[type="button"][disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }


/* .aui_buttons button { margin-left:15px; padding: 7px 15px; cursor: pointer; display: inline-block;border:none; text-align: center; line-height: 1; *padding:4px 15px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333;background: url("../imgs/button/buttAlert.png") no-repeat scroll left top transparent;}
button.aui_state_highlight { color: #007296;background-image:url("../imgs/button/buttAlert1.png");}
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus {}
.aui_buttons button:hover{background-position:left -26px;}
.aui_buttons button:active{background-position:left -52px;} */



/* input,select,img{vertical-align:bottom;}
.butt.sj{
	margin-left:-9px;
}
.butt.sech{
	position:relative;
	bottom:-2px;
	left:-30px;
}
.butt.toggleFormBg{
	margin-left:-15px;}

a.butt span::selection {
	background: transparent;
	color: #007296;
}

a.butt span::-moz-selection {
	background: transparent;
	color: #007296;
}


 * 閫氱敤鎸夐挳

a.butt span.butt1 {
	background: url(../imgs/button/blankbg1.gif) no-repeat scroll 0 0
		transparent;
}

a.butt span.searchButt {
	background: url("../imgs/button/search1.gif") no-repeat scroll 0 0
		transparent;
	padding: 15px;
}
a.butt span.toggleFormButt {
	background: url("../imgs/button/more.gif") no-repeat scroll 0 0
		transparent;
}


a.butt:hover {
	background-position: right -30px;
}

a.butt:hover span {
	background-position: left -30px;
	color: #007296;
}
榧犳爣閫変腑鎸夐挳
a.butt:active {
	background-position: right -60px;
}

a.butt:active span {
	background-position: left -60px;
	color: #007296;
}
 */